body{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: #e5e5e5 !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 350px;
    height: 550px;
    border:5px solid rgb(0, 255, 174);
    border-radius: 8px;
    padding: 15px;
    background-color: whitesmoke;
    overflow-y: scroll;
}
.app::-webkit-scrollbar{width:0 !important}

#addNew{
    display: flex;
    background-color:rgb(0, 255, 174);
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus-circle {
    background-color:rgb(1, 164, 113);
    padding: 3px;
    border-radius: 3px;
    
}
#tasks{
    display: grid;
    gap: 14px;
}
#tasks div{
background-color:rgb(0, 255, 174);
border: 3px solid rgb(1, 164, 113);
padding: 5px;
border-radius: 6px;
display:grid;
gap:4px;
}
.options{
    justify-self: center;
    display: flex;
    gap:15px;
}
.options i{
    cursor: pointer;
}
#msg1{
    color: red;
}
#msg2{
    color: red;
}
#msg3{
    color: red;
}